<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings/>
  <system.web>
    <compilation targetFramework="4.0.0" debug="true"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="30000000"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="txt" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="doc" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="docx" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="xlsx" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="xls" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="ppt" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="pptx" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="pdf" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="md" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="html" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="htm" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="js" mimeType="application/octet-stream"/>
      <mimeMap fileExtension="css" mimeType="application/octet-stream"/>
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: D5084FC1-A564-470B-AEC4-C2D38A70D1E2-->