body {
    float:left;
    height:1024px;
    width:100%;
}

#divInput {
    float:left;
    width:40%;
    height:100%;
}

#divResult {
    float:left;
    width:50%;
    height:100%;
}

blockquote {
    background-color: #FFF8DC;
    border-left: 2px solid #ffeb8e;
}


