.eleditor_toolbar {
    line-height: 30px;
    opacity: 0.8;
    list-style: none;
    padding: 0 10px;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
    width: 100%;
}

    .eleditor_toolbar li {
        height: 30px;
        display: inline-block;
        text-align: center;
        text-decoration: none !important;
        color: #2c3e50 !important;
        width: 30px;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 3px;
        cursor: pointer;
        position:relative;
    }

    .eleditor_toolbar .separator {
        display: inline-block;
        width: 0px;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #fff;
        color: transparent;
        text-indent: -10px;
        margin: 0 6px;
    }

.eleditor_content {
    padding: 10px;
    width: 100%;
    resize: none;
    min-height: 300px;
    height: auto;
    border: 1px solid #ddd;
}

.eleditor_model{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.eleditor_model_content {
    width:680px;
    height:500px;
    background-color:cadetblue;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


.eleditor_toolbar li .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltiptext::after {
    content: "  ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.eleditor_toolbar li:hover .tooltiptext {
    visibility: visible;
}
